{% extends 'perkakas/base.html' %}
        {% block content %}
                <p><a href="{% url 'alat_add' %}"><b> (+)Tambah Peralatan</b></a></p>
                <br>
                {% for alat in peralatan %}
                .....
                .....
                .....
        {% endfor %} 
 {% endblock %}
